.vs
FytSoa/FytSoa.Api/Properties
FytSoa.Api/bin
FytSoa.Api/obj
FytSoa.Application/bin
FytSoa.Application/obj
FytSoa/FytSoa.Core/.DS_Store
FytSoa.Model/bin
FytSoa.Model/obj
FytSoa.Repository.Interfaces/bin
FytSoa.Repository.Interfaces/obj
FytSoa.Builder/bin
FytSoa.Builder/obj
FytSoa.Common/bin
FytSoa.Common/obj
FytSoa.Repository.Implements/bin
FytSoa.Repository.Implements/obj
FytSoa.SugarCore/bin
FytSoa.SugarCore/obj
FytSoa.Test/bin
FytSoa.Test/obj
WebAdmin/node_modules
WebAdmin/dist
.DS_Store
